# Secrets
.env
*.pem
*.key
credentials
credentials.*
.aws/

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Kubernetes
*.secret.yaml

# Java
target/

# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db